 /* HEADER */

 .header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #11314F;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  width: 90px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.connect {
  display: flex;
  gap: 20px; 
  align-items: center;
}

.github, .linkedin {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.github:hover, .linkedin:hover {
  transform: scale(1.1);
}

/* Unsupported */

.unsupported-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  color: white; 
  text-align: center; 
}

.unsupported-heading {
  font-size: 2.5 rem; 
  font-weight: bold;
  margin: 1rem;
}

.unsupported-message {
  font-size: 1.25rem; 
  line-height: 1.5;
  margin: 1rem;
}


/* Main*/
.main {
  display: flex;
  margin-top: 100px;
  padding: 10px;
}

.content {
  width: 80%;  
  padding: 15px;
  overflow-y: auto;
  height: 80vh;
  color: white;
}

/* .content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
} */

/* ABOUT */

.about {
  height: 650px;
  color: white;
}

.about-me {
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

.bitmoji {
  width: 170px;
  height: auto;
  margin-left: 50px;
}

/* EXPERIENCE */
.experience {
  height: 700px;
  color: white;
  display: flex;
  justify-content: center;
}

/* PROJECTS */
.projects {
  height: 650px;
  color: white;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 15px;
}

/* HACKATHONS */
.hackathons {
  height: 700px;
  color: white;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* CONFERENCES */
.conferences {
  height: 700px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* TECH STACK */
.tech-stack {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 27px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

.help-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #fff;
  color: #11314F;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 510%; 
  top: 40%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.matter-box {
  position: relative;
  width: 90%;
  height: 550px;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 5px;
}

.dm-matter-elem {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Menu */

.menu {
  display: flex; 
  position: sticky;
  width: 100px;
  flex-direction: column;
  padding: 18px;
  justify-content: center;
}

.menu a { 
  display: block; /* Make each link a block element */ 
  color: white; /* Set text color to white */ 
  text-decoration: none; /* Remove underline */ 
  width: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 33px;
  white-space: nowrap;
} 

.menu a.active { 
  text-decoration: underline; /* Underline the text for active link */ 
}

.menu a:visited { 
  color: white; /* Keep text color white even after clicking */ 
}


/* Responsive design
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .right-container {
    width: 100%;
  }
} */