 /* HEADER */

 .header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #11314F;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  width: 90px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.connect {
  display: flex;
  gap: 20px; 
  align-items: center;
}

.github, .linkedin {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.github:hover, .linkedin:hover {
  transform: scale(1.1);
}

/* Main*/
.main {
  display: flex;
  margin-top: 100px;
  padding: 20px;
}

.content {
  width: 80%;  
  padding: 10px;
  overflow-y: auto;
  height: 80vh;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.about {
  height: 400px;
  color: white;
}

.education {
  height: 600px;
  color: white;
}
.experience {
  height: 600px;
  color: white;
}
.projects {
  height: 600px;
  color: white;
}
.fun {
  height: 600px;
  color: white;
}
.bitmoji {
  width: 350px;
  height: auto;
}

/* Menu */

.menu {
  display: flex; 
  position: sticky;
  width: 100px;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.menu a { 
  display: block; /* Make each link a block element */ 
  color: white; /* Set text color to white */ 
  text-decoration: none; /* Remove underline */ 
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 38px;
  /* text-decoration: underline; */
} 

.menu a.active { 
  text-decoration: underline; /* Underline the text for active link */ 
}

.menu a:visited { 
  color: white; /* Keep text color white even after clicking */ 
}


/* Responsive design
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .right-container {
    width: 100%;
  }
} */